<!DOCTYPE html>
<html lang="en" class="no-js">
{% set bootstrap_version = '2.2.1' %}
{% set modernizer_version = '2.6.2' %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{% block title %}Cloud Lectures{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="/static/css/bootstrap-{{ bootstrap_version }}.min.css" rel="stylesheet" />
    <style> body { padding-top: 90px; } </style> <!-- Bootstrap -->
    <link href="/static/css/bootstrap-responsive-{{ bootstrap_version }}.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    {% block styles %}{# page-specific CSS #}{% endblock %}
    <script src="/static/js/lib/modernizr-{{ modernizer_version }}.min.js"></script>{# Modernizr must be here, above body tag. #}
    {% block hscripts %}{# defer-incapable JS block #}{% endblock %}
</head>
<body>
    <div id="header">
        {% include 'includes/nav.html' %}
    </div>
    <div class="container" id="maincontent">
        {% include 'includes/flash_message.html' %}
        <div id="body_content">
            {% block content %}{# Main content #}{% endblock %}
        </div>
    </div><!-- /container -->
    <footer>
        <div id="footer" class="container">
            {% block footer %}{# Footer #}{% endblock %}
        </div><!-- /footer -->
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/lib/bootstrap-{{ bootstrap_version }}.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block tscripts %}{# JS scripts #}{% endblock %}
</body>
</html>
